hr{
  border-style: none;
  border-color: blue;
  border-top-style: dotted;
  width: 20%;
  border-width: 5px;
  
  
}
body{
  background-color:antiquewhite ;
}
h3{
  padding-top: 20px;
  padding-bottom: 20px;
}
h1,h3{
  color: blue;

}